region            = "us-east-1"
ami               = "ami-009feb0e09775afc6"
server_instance_type = "t2.medium"
client_instance_type = "t2.medium"
key_name          = ""
private_key_data  = ""
server_count      = "3"
client_count      = "3"
name_tag_prefix   = "roger-microservices"
cluster_tag_value = "roger-microservices"
owner = ""
token_for_nomad = ""
vault_url = ""
